/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* .masthead-avatar{
/* border-radius: 300px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
height: 250px; 

} */
.gitimglink img p{
display: flex-center;
}
.uofa{
    color: rgb(77, 96, 232);
    text-decoration-line: underline; 
}
#about {
    background-color: aliceblue;  
    color: black;
}
.about_me_para{
  font-size: 1.5rem;
}
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }

  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 15rem;
    height: 11.25rem;
    transition: transform .1s;

  }
  .icon:hover{
    transform:scale(1.5);
    cursor: pointer;
}
  .javalogo{
    width: 12rem;
    height: 13rem;
    margin-left: 50px;
  }
  .pythonlogo{
    width: 12rem;
    height: 11rem;
    position: relative;
    left: 2.2%;
  }
  .cpplogo{
    width: 11rem;
    height: 11rem;
  }
  .sqllogo{
    width: 16rem;
    height: 15rem;

  }
  .git_logo{
    width: 13rem;
    height: 12rem;
    position: relative;
    right: 1.7%;

  }
  .dockerlogo{
    width: 13rem;
    height: 13rem;
    position: relative;
    left: 1.9%;

  }
  .reactlogo{
    width: 13rem;
    height: 11rem;
  }
  .htmllogo{
    width: 12rem;
    height: 11rem;
    position: relative;
    right: 1.4%;
  }
  .jslogo{
    width: 12rem;
    height: 11rem;
  }
  .linuxlogo{
    width: 12rem;
    height: 11rem;
  }

.project_name{
  color: rgb(255, 255, 255);
  background-color: rgb(53, 63, 80);
  text-align: center;
  font-size: 2rem;
}
.name_huff{
  color: rgb(255, 255, 255);
  background-color: rgb(53, 63, 80);
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1px;
  padding-top: 3px;
}

.coursebtn {
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 30;
    font-size: 0.9rem;
    border: none;
    text-decoration-line: underline;
    
}
.coursebtn a {
    color: rgb(53, 63, 80);
    background-color: transparent;
    width: 30;
    font-size: 0.9rem;
    
    
}

.coursebtn:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
}
.coursebtn a:hover { 
    text-decoration: none;
    color: rgb(255, 243, 243);
    background-color: transparent;
    
}
.gitlogo{
    background-image: url("https://e7.pngegg.com/pngimages/914/758/png-clipart-computer-icons-logo-github-github-logo-logo-computer-program.png");
}


.education {
    background: rgb(242, 248, 254);
    /* padding-bottom: 3rem; */
  }
  
  .education .container {
    max-width: 900px;
  }
  
  .education .container h2 {
    text-align: center;
    color: black;
    margin-bottom: 3rem;
  }
  
  .education .container .education-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
    /* padding: 40px; */
    border-radius: 3px;
  }
  
  .education .container .education-card > *:last-child {
    margin-top: 40px;
  }
  
  @media (max-width: 500px) {
    .education .container .education-card {
      padding: 20px;
    }
  }
  
  .education .container .education-card .education-card-column {
    display: flex;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-image {
    flex: 0 0 20%;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-image
    img {
    width: 100%;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large {
    flex: 0 0 80%;
    padding-left: 1.5rem;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    > * {
    margin: 0.25rem 0;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    h4 {
    font-weight: normal;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    ul {
    padding-left: 1.5rem;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 40px;
  }
.white_git{
  background-color: transparent;

}